[Desktop Entry]
Name=VaultSign
Comment=HashiCorp Vault OIDC Authentication & SSH Key Signing
Exec=/opt/vaultsign/vaultsign
Icon=vaultsign
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=vault;ssh;authentication;oidc;
